<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN: Practitioner role requests</title>
    <link rel="stylesheet" th:href="@{../css/main.css}">
</head>
<body>
<div th:insert="~{headerAndFooter :: header}"></div>

<div class="centeredLayout">
    <h3>Role Requests</h3>
    <table>
        <thead>
        <tr>
            <th> User Name </th>

        </tr>
        </thead>
        <tbody>
        <tr th:if="${requests.empty}">
            <td colspan="2"> No Requests Available </td>
        </tr>
        <tr th:each="request : ${requests}">
            <td><span th:text="${request.userModel.username}"> User Name </span></td>
            <td><label><input type="checkbox" name="approved" th:checked="${request.approved}"> Approved </label></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>