<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN: Practitioner role requests</title>
    <link rel="stylesheet" th:href="@{../css/main.css}">
</head>
<body>
<div th:insert="~{headerAndFooter :: header}"></div>

<div class="centeredLayout">
    <h3>Role Requests</h3>
    <form action="#" th:action="@{/admin/approvePractitionerRoleRequests}" th:object="${requestsDTO}"
          method="post">
        <fieldset>
            <input type="submit" id="submitButton" th:value="Save">
            <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
            <table>
                <thead>
                <tr>
                    <th> Name </th>
                    <th> Approved </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="request, itemStat : *{requests}">
                    <td><input hidden th:name="|requests[${itemStat.index}].id|" th:value="${request.userModel.getId}"/></td>
                    <td><input th:name="|requests[${itemStat.index}].name|" th:value="${request.userModel.getUsername}" /></td>
                    <td><input th:name="|requests[${itemStat.index}].approved|" th:value="${request.isApproved}" /></td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>

<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th> User Name </th>-->

<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:if="${requests.empty}">-->
<!--            <td colspan="2"> No Requests Available </td>-->
<!--        </tr>-->
<!--        <tr th:each="request : ${requests}">-->
<!--            <td><span th:text="${request.userModel.username}"> User Name </span></td>-->
<!--            <td><label><input type="checkbox" name="approved" th:checked="${request.approved}"> Approved </label></td>-->

<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
</div>
</body>
</html>