<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN: Practitioner role requests</title>
    <link rel="stylesheet" th:href="@{../css/main.css}">
</head>
<body>
<div th:insert="~{headerAndFooter :: header}"></div>

<div class="centeredLayout">
    <h2>User Management</h2>
    <h3>Role Requests</h3>
    <div th:if="${param.success}">
        Role request updates submitted
    </div>
    <div th:if="${requestsDTO.requests.isEmpty()}">
        No role requests available
    </div>
    <div th:if="${!requestsDTO.requests.isEmpty()}">
    <form action="#" th:action="@{/admin/approvePractitionerRoleRequests}" th:object="${requestsDTO}"
          method="post">
        <fieldset>

            <table>
                <thead>
                <tr>
                    <th> Name </th>
                    <th> Approved </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="request, itemStat : *{requests}">
                    <td><span th:text="${request.userModel.username}"> Name </span></td>
                    <td><input hidden th:field="*{requests[__${itemStat.index}__].userModel.username}"  /></td>
                    <td><input type="checkbox" th:field="*{requests[__${itemStat.index}__].approved}"/></td>
                </tr>
<!--                <tr th:each="request, itemStat : ${requestsDTO.requests}">-->
<!--                    <td><input hidden th:name="|requests[${itemStat.index}].id|" th:value="${request.userModel.id}" /></td>-->
<!--                    <td><input th:name="|requests[${itemStat.index}].username|" th:value="${request.userModel.username}" /></td>-->
<!--                    <td><input type="checkbox" th:name="|requests[${itemStat.index}].approved|" th:value="${request.approved}"/></td>-->
<!--                </tr>-->
                </tbody>
            </table>
            <input type="submit" id="submitButton" th:value="Save">
            <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        </fieldset>
    </form>
    </div>
    <h3>Users</h3>
    <table>
        <thead>
        <tr>
            <th> User Name </th>
            <th> User Role </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="2"> No Users Available </td>
        </tr>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.username}"> username </span></td>
            <td><span th:text="${user.role}"> role </span></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>