<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN: Practitioner role requests</title>
    <link rel="stylesheet" th:href="@{../css/main.css}">
</head>
<body>
    <div th:insert="~{headerAndFooter :: header}"></div>

    <div class="mainContent">
        <div class="centeredLayout">
            <h2>Prescriptions</h2>

            <!--    <div th:if="${requestsDTO.requests.isEmpty()}">-->
            <!--        No prescriptions available-->
            <!--    </div>-->
            <!--    <div th:if="${!requestsDTO.requests.isEmpty()}">-->
            <!--        <form action="#" th:action="@{/admin/approvePractitionerRoleRequests}" th:object="${requestsDTO}"-->
            <!--              method="post">-->
            <!--            <fieldset>-->

            <!--                <table>-->
            <!--                    <thead>-->
            <!--                    <tr>-->
            <!--                        <th> Name </th>-->
            <!--                        <th> Approved </th>-->
            <!--                    </tr>-->
            <!--                    </thead>-->
            <!--                    <tbody>-->
            <!--                    <tr th:each="request, itemStat : *{requests}">-->
            <!--                        <td><span th:text="${request.userModel.username}"> Name </span></td>-->
            <!--                        <td><input hidden th:field="*{requests[__${itemStat.index}__].userModel.username}"  /></td>-->
            <!--                        <td><input type="checkbox" th:field="*{requests[__${itemStat.index}__].approved}"/></td>-->
            <!--                    </tr>-->
            <!--                    &lt;!&ndash;                <tr th:each="request, itemStat : ${requestsDTO.requ
            
            sts}">&ndash;&gt;-->
            <!--                    &lt;!&ndash;                    <td><input hidden th:name="|requests[${itemStat.index}].id|" th:value="${request.userModel.id}" /></td>&ndash;&gt;-->
            <!--                    &lt;!&ndash;                    <td><input th:name="|requests[${itemStat.index}].usfername|" th:value="${request.userModel.username}
            
            
            " /></td>&ndash;&gt;-->
            <!--                    &lt;!&ndash;                    <td><input type="checkbox" th:name="|requests[${itemStat.index}].approved|" th:value="${request.approved}"/></td>&ndash;&gt;-->
            <!--                    &lt;!&ndash;                </tr>&ndash;&gt;-->
            <!--                    </tbody>-->
            <!--                </table>-->
            <!--                <input type="submit" id="submitButton" th:value="Save">-->
            <!--                <input type="reset" id="resetButton" name="reset" th:value="Reset"/>-->
            <!--            </fieldset>-->
            <!--        </form>-->
        </div>
        <h3>Prescriptions</h3>
        <table>
            <thead>
            <tr>
                <th> Medication</th>
                <th> Dose</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${prescriptionsDTO.prescriptions.empty}">
                <td colspan="2"> No Prescriptions Available</td>
            </tr>
            <tr th:each="prescription : ${prescriptionsDTO.prescriptions}">
                <td><span th:text="${prescription.medication.name}"> drug </span></td>
                <td><span th:text="${prescription.doseMg}"> dose </span></td>

            </tr>
            </tbody>
        </table>
        </div>
</body>
</html>