<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" th:href="@{../css/main.css}">
</head>
<body>
    <div th:insert="~{headerAndFooter :: header}"></div>
    <div class="mainContent">
        <div class="centeredLayout"><h1>Upload Data Files</h1>
            <div class="upload_container">
                <div class="upload_container_header">
                    <div class="upload_header">
                        Dose (.xlxs)
                    </div>
                </div>

                <form th:action="@{/patient/upload/doseUpload}" method="post" enctype="multipart/form-data">
                    <div class="input_container">
                        <input type="file" th:name="dosesFile">
                    </div>
                    <input th:type="submit" value="Import"/>
                </form>
            </div>
            <div class="upload_container">
                <div class="upload_container_header">
                    <div class="upload_header">
                        Blood Pressure (.xlxs)
                    </div>
                </div>
                <form th:action="@{/patient/upload/bloodPressureUpload}" method="post"
                      enctype="multipart/form-data">

                        <div class="input_container">
                            <input type="file" th:name="bloodPressureFile" id="fileUpload">
                        </div>
                        <input th:type="submit" value="Import"/>

                </form>
            </div>
        </div>
    </div>
</body>
</html>



