<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PRACT: Patients</title>
    <link rel="stylesheet" th:href="@{../css/main.css}">
</head>
<body>
<div th:insert="~{headerAndFooter :: header}"></div>
<div class="centeredLayout">
    <h3>Patients</h3>
    <table>
        <thead>
        <tr>
            <th> Patient Name </th>

        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="2"> No Patients Available </td>
        </tr>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.username}"> Title </span></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>