<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>MedTracker</title>
    <link rel="stylesheet" th:href="@{../css/main.css}">
</head>
<body>
<div th:insert="~{headerAndFooter :: header}"></div>
<div class="mainContent">
    <div class="centeredLayout">
        <div sec:authorize="isAuthenticated()">
            <h2>Account Management</h2>
            <h3 sec:authentication="name"></h3>

            <h4>Change Password</h4>
            <form th:action="@{/user/accountManagement/change_password}" method="post">
                <input name="password" type="password" placeholder="Password">
                <input name="repeatedPassword" type="password" placeholder="Repeat Password">
                <input type="submit" value="Update Password">
            </form>
            <div th:if="${param.success}">
                You successfully updated your password
            </div>
            <div th:if="${param.error}">
                Password update failed, functionality not yet implemented
            </div>


            <div th:if="${#authorization.expression('hasAuthority(''ROLE_USER'')')}">
                <h4>Account Upgrade</h4>
                <a th:href="@{/user/practitionerRoleRequest}">Open Account Upgrade Page</a>
            </div>
        </div>


    </div>
</div>


</body>
</html>