/* Add a black background color to the top navigation */

body {
    font: normal 14px Verdana, Arial, sans-serif;
    margin: 0;
}

.headerAndNav {
    display: grid;
    background-color: orange;
    margin-bottom: 20px;
}
.headerTitle {
    margin-left: 20px;

}

.topnavAndAuthStatus {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #808080;
  overflow: hidden;
}

.topnav {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #808080;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.headerFragment {
    z-index: 999;
    top: 0;
    position: fixed;
    width: 100%;
}



.authStatus {
    display:grid;
    grid-template-columns: auto auto;
    grid-column-start: 5;
    justify-self: right;
    align-self: center;
    }

.authStatusName {
    justify-self: left;
    margin-right: 10px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;

}
.authStatus form {
    justify-self: right;
    margin-right: 10px;
}

input[type=submit] {
            background-color: orange;
            border: none;
            color: #fff;
            height: 25px;
            text-decoration: none;
            cursor: pointer;
}

input[type=submit]:hover {
    color: black;
    background-color: orange;
}


.mainContent{
    margin-top: 150px;
    margin-left: 8px;
}

.centeredLayout{
    width: 50%;
    margin: auto;
}

.upload_container {
    height: 100px;
    width: 100%;
    margin-bottom: 30px;
}

.upload_container_header {
    height: 40%;
    width: 100%;
    background-color: #ddd;
}
.upload_header {
    padding:5px;
    font-weight: bold;
}

.upload_container form {
    height: 60%;
    width: 100%;
}

.upload_container input[type=submit] {
            display: block;
            float: right;
            background-color: orange;
            border: none;
            color: #fff;
            height: 25px;
            width: 50px;
            margin-top: 10px;
            text-decoration: none;
            cursor: pointer;
}

.upload_container input[type=submit]:hover {
    color: black;
    background-color: orange;
}

.input_container {
    display: block;
    float: left;
    height: 100%;
    width: 80%;
}

input[type=file] {
    margin-top: 10px;
    height: 25px;
    width: 100%;
    background: #fff;
    cursor: pointer;

}

input[type=file]:hover {
    cursor: pointer;
}

input[type=file]::file-selector-button {
  height: 25px;
  width: 20%;
  margin-right: 20px;
  border: none;
  background: #084cdf;
  background-color: #808080;
  color: #fff;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}