/* Add a black background color to the top navigation */

body {
    font: normal 14px Verdana, Arial, sans-serif;
    margin: 0;
}

.mainContent{
    margin-top: 150px;
    margin-left: 8px;
}

.centeredLayout{
    width: 50%;
    margin: auto;
}

.topnav {
  background-color: #808080;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.headerFragment {
    z-index: 999;
    top: 0;
    position: fixed;
    width: 100%;
}

.headerAndNav {
    display: grid;
    background-color: orange;
    margin-bottom: 20px;
}
.headerTitle {
    margin-left: 20px;

}

.authStatus {
    float: right;
    margin-right: 10;
}

.authStatusName {
    display: inline;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    display: inline;
}

.authStatus form {
    display: inline;
}

.authStatus input[type=submit] {
            background-color: orange;
            border: none;
            color: #fff;
            margin-top: 4px;
            padding: 5px 16px;
            text-decoration: none;
            cursor: pointer;
}

.authStatus input[type=submit]:hover {
            color: black;
background-color: orange;

}



