<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Diastole graph</title>
</head>
<body>
<div th:fragment="diastoleGraph">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages':['corechart', 'line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', /*[[${col0}]]*/'col0');

        data.addColumn('number', /*[[${col4}]]*/'col4');
        data.addColumn('number', /*[[${col5}]]*/'col5');
        data.addColumn('number', /*[[${col6}]]*/'col6');
       data.addRows([
       /*[# th:each="row : ${diastoleChartData}"]*/
        [[${row}]],
        /*[/]*/
       ]);
          var options = {
            title: /*[[${diastoleGraphTitle}]]*/ "",
             series: {
            0: { color: 'blue' },
            1: { color: 'blue', lineDashStyle: [2, 2] },
            2: { color: 'blue', lineDashStyle: [2, 2] }
          }
          };

          var chart = new google.visualization.LineChart(document.getElementById('diastoleGraph'));

          chart.draw(data, options);
        }
    </script>
    <div id="diastoleGraph" style="height: 500px"></div>
</div>
</body>
</html>