<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Diastole graph</title>
</head>
<body>
<div th:fragment="diastoleGraph">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages':['corechart', 'line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', /*[[${col0}]]*/'col0');

        data.addColumn('number', /*[[${dcol1}]]*/'dcol1');
        data.addColumn('number', /*[[${dcol2}]]*/'dcol2');
        data.addColumn('number', /*[[${dcol3}]]*/'dcol3');

        data.addColumn('number', /*[[${dcol4}]]*/'dcol4');
        data.addColumn('number', /*[[${dcol5}]]*/'dcol5');

       data.addRows([
       /*[# th:each="row : ${diastoleChartData}"]*/
        [[${row}]],
        /*[/]*/
       ]);
          var options = {
            interpolateNulls: true,
            title: /*[[${diastoleGraphTitle}]]*/ "",
             series: {
           0: { color: '#3366cc' },
            1: { color: '#22aa99' },
            2: { color: 'black' },
            3: { color: 'red', lineDashStyle: [2, 2] },
            4: { color: '#dc3912', lineDashStyle: [2, 2] },
          }
          };

          var chart = new google.visualization.LineChart(document.getElementById('diastoleGraph'));

          chart.draw(data, options);
        }
    </script>
    <div id="diastoleGraph" style="height: 500px"></div>
</div>
</body>
</html>