<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dose graph</title>
</head>
<body>
<div th:fragment="doseGraph">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages':['corechart', 'line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', /*[[${col0}]]*/'col0');

        data.addColumn('number', /*[[${dosecol1M}]]*/'dosecol1M');
        data.addColumn('number', /*[[${dosecol2M}]]*/'dosecol2M');


       data.addRows([
       /*[# th:each="row : ${doseChartData}"]*/
        [[${row}]],
        /*[/]*/
       ]);
          var options = {
            interpolateNulls: true,
            title: /*[[${doseGraphTitle}]]*/ "",
             series: {
            0: { color: '#3366cc' },
            1: { color: '#3366cc',lineDashStyle: [2, 2] },

          }
          };

          var chart = new google.visualization.LineChart(document.getElementById('doseGraph'));

          chart.draw(data, options);
        }
    </script>
    <div id="doseGraph" style="height: 500px"></div>
</div>
</body>
</html>