<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MedTrackerGraphs</title>
    <link rel="stylesheet" th:href="@{css/main.css}">
</head>
<body>
    <div th:insert="~{headerAndFooter :: header}"></div>
    <h1 th:text="${graphPageTitle}"></h1>
    <h3>Medication Dose</h3>
    <div th:insert="~{doseGraph :: doseGraph}"></div>
    <h3 th:text="${bpSectionTitle}"></h3>
    <div th:insert="~{systoleGraph :: systoleGraph}"></div>
    <div th:insert="~{diastoleGraph :: diastoleGraph}"></div>
</body>
</html>