<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head >
    <title>Fragments</title>
</head>

<body>
<div th:fragment="header">
    <div class="headerAndNav">
        <div class="headerContainer">
            <H1>Med Tracker</H1>
        </div>
    <div class="topnav">

        <div>
            <a th:href="@{/}">Home</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/graphs}">Data Overview</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/upload}">Upload</a>
        </div>
        <div th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
            <a th:href="@{/admin/practitionerRoleRequests}">ADMIN: User Management</a>
        </div>
        <div th:if="${#authorization.expression('hasAuthority(''ROLE_USER'')')}">
            <a th:href="@{/user/practitionerRoleRequest}">Request Role</a>
        </div>
        <div th:if="${#authorization.expression('hasAuthority(''ROLE_PRACT'')')}">
            <a th:href="@{/practitioner/patients}">Patients</a>
        </div>
        <div>
            <a th:href="@{/about}">About</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="authStatus">
            <div sec:authentication="name" class="authStatusName">Name of authenticated user</div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout">
            </form>
        </div>
    </div>
    </div>
</div>
<div th:fragment="footer">
    <p>Footer</p>
</div>
</body>

</html>

